.section {
    padding: 50px 20px;
    text-align: center;
  }
  
  .home {
    background: url("https://i.pinimg.com/originals/28/35/df/2835df0e62b742bdace97c216998f969.jpg") no-repeat center center/cover;
    color: #2a4c33;
    position: relative;
    height: 100vh;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: -200;
    
  }
  @keyframes slide {
    from {
      transform: translateX(-20px);
    }
    to {
      transform: translateX(20px);
    }
  }
  
  .intro h1 {
    white-space: nowrap;
    display: inline-block;
    animation: slide 0.5s linear forwards;
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 50px;
    font-weight: 700;
  }
  @keyframes slide {
    from {
      transform: translateX(-20px);
    }
    to {
      transform: translateX(30px);
    }
  }
  
  .intro p {
    font-family: 'Montserrat', serif;;
    font-size: 48px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-bottom: 80px;
    font-weight: 500;
    line-height: 1.2;
    animation: slide 0.5s linear forwards;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2a4c33;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
  }